@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'material';

.container {
    .wrapper {
        .content {
            @include flex(1);
        }

        .bitcoin {
            @include flex(0);

            margin: 20px;

            width: 150px;
            height: 50px;

            @include material-background-color(bluegray, 1);

            border: solid 3px;
            border-radius: 10px;
            @include material-border-color(bluegray, 4);
        }
    }
}
