<!DOCTYPE html>
<html ng-app="skynet">
    <head>
        <meta charset="utf-8"/>
        <title>Skynet</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../css/downloads.css" />
    </head>
    <body onload="load()">
        <div class="container">
            <ul class="wrapper-nav">
                <li class="nav-logo"><a href="index.html">Skynet</a></li>
                <li class="nav-link"><a href="browsergames.html">Browser Games</a></li>
                <li class="nav-link active"><a href="downloads.html">Downloads</a></li>
                <li class="nav-link"><a href="mods.html">Mods</a></li>
                <li class="nav-link"><a href="#">Proxy</a></li>
            </ul>
            <div class="wrapper">
                <div class="games-search">
                    <input placeholder="Search..." type="text" id="searchbox"/>
                </div>
                <div class="games-container" ng-controller="GameController as games">
                    <div id="game-{{game.name}}" class="games-image" ng-repeat="game in games.gamelist">
        				<a href="https://d1n0cz3q6i4lsz.cloudfront.net/{{game.name}}.zip" download="">
        					<img class="game-image" src="https://d1n0cz3q6i4lsz.cloudfront.net/{{game.name}}.jpg" alt="{{game.alt}}">
        				</a>
                    </div>
                    <div id="game-{{game.name}}" class="games-image" ng-repeat="game in games.weblist">
        				<a href="{{game.url}}">
        					<img class="game-image" src="https://d1n0cz3q6i4lsz.cloudfront.net/{{game.name}}.gif" alt="{{game.alt}}">
        				</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/depend/angular-1.6.6/angular.min.js"></script>
        <script src="../js/_downloads/ng.js"></script>
        <script src="../js/_downloads/main.js"></script>
        <script src="../js/depend/jquery-3.2.1/jquery-3.2.1.slim.min.js"></script>
    </body>
</html>
